{
	"singleQuote": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": true,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"semi": true,
	"singleAttributePerLine": true,
	"printWidth": 80
}
